

@font-face {
    font-family: 'runalyze-serif';
    src: url('../fonts/Aleo-Regular-webfont.eot');
    src: url('../fonts/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Regular-webfont.woff') format('woff'),
         url('../fonts/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Aleo-Regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal; 
    font-style: normal;

}

@import "settings";
@import "foundation";   

// Or selectively include components
 @import
//   "foundation/components/accordion",
   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
  "foundation/components/switches";
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";




// Small screens
@media only screen {
    
    body{
    }

    .intro{
        background: $runalyzegray;
        padding: 120px 0 80px;
        
        .introText{
            margin-bottom: 50px;
        }
        
        h2 {
            font-family: $font-family-serif;
            color: $primary-color;
        }
        
        
    }
    
    .vorteile{
        padding: 70px 0 50px;
        box-shadow: 0 0 3px 0 $iron;
        
        h3{
            font-size: 1.6rem;
            
            i{
                color: $secondary-color;
                padding-right: 10px;
            }
        }
    }
    
    
    
    nav.mainNav{
        
    }
    
    .alert-box{
        margin-bottom: 0;
        @include alert-style($tertiary-color);
    }
    
    .valign-center {
        position: relative;
        top: 50%;
        > .content {
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -o-transform:translateY(-50%);
          -ms-transform:translateY(-50%);
        }
      }

    
    header{
        position: relative;
        
        .headerContent{
            height: 80px;
            padding: 0 0 15px;
            text-align: center;
            box-shadow: 0 0 3px 0 $iron;
            overflow:visible;
            position: relative;
            background: $white;
            z-index:5;
        }
        
        .whiteBadge{
            width: 150px; 
            display: block;
            background: $white;
            z-index:2; 
            padding: 25px 25px;
            border-radius: 200px;
            height: 150px;
            box-shadow: 0 0 3px 0 $iron;
            position: absolute;
            top:4px;
            left: 50%;
            margin-left: -75px;
        }
        
        .logo{
            
            
            a{
                width: 150px; 
                display: inline-block;
                padding: 25px 25px;
                background: $white url(../images/logo-runalyze.jpg) no-repeat 32px 40px;
                background-size: 90px auto;
                text-indent: -2000px;
                border-radius: 200px;
                height: 150px;
            }
        }
    }
    
    #openLanguageSelector{
        position: absolute;
        top: 0px;
        right: 20px;
        font-size: 2rem;
        background: $primary-color;
        color: $white;
        padding: 0 9px; 
    }
    
    #closeLanguageSelector{
        position: absolute;
        top: 0px;
        right: 20px;
        font-size: 2rem;
        background: $white;
        padding: 0 9px; 
    }
    
    #languageSelector{
        background: rgba($primary-color, 0.9);
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        z-index: 50;
        display: none;
        text-align: center;
        padding: 20px;
        
        .content{
            
            .headline{
                color: $white;
                margin-bottom: 2rem;
            }

            ul{
                text-align: center;
                font-size: 2rem;

                li{
                    display: inline-block; 

                    a{
                        color: $primary-color;
                        background: $white;
                        padding: 0 7px;

                    }

                }
            }
            
        }
        
        
        
        
    }
    
    .loginBox{
        position: relative;
        height: 100%;
        min-height: 530px;
    
        .boxWrapper{
            background: $white;
            box-shadow: 0 0 4px 0 #aaa;
            padding: 20px 30px;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            min-height: 530px;
            display: block;
            -webkit-backface-visibility: hidden; 
   	        backface-visibility: hidden;
            -webkit-transform-style: preserve-3d; 
            transform-style: preserve-3d;
            transform: rotateY(180deg);
            transition: all 0.5s linear;
            

            &.active{
                transform: rotateY(0deg);
                

            }
            
           
            
            

            &#login{
                
            }
            
            &#registerFormular{
               
            }
            
            &#forgotPassword{
               
            }

        }
    }
    
    
    
    form{
        fieldset{
            
            
            legend{
//                font-family: $font-family-serif;
                margin: 2rem 0 1rem; 
                padding:0;
                color: $secondary-color;
                font-size: 1.4rem;
                text-align: center;
                width:100%;
                display: inline-block;
                padding-top: 15px;
            }
        }
    }
    
    footer{
        padding: 40px 0 30px;
        background: $primary-color;
        color: $white;
        
        h1, h2, h3, h4, h5, h6{
            color: $secondary-color;
        }
        
       
        
        a{
            color: $white;
            
            &:hover{
                color: $smoke;
            }
        }
    }
   
    
} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {

    

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { 

   
    
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */