

@font-face {
    font-family: 'runalyze-serif';
    src: url('../fonts/Aleo-Regular-webfont.eot');
    src: url('../fonts/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Regular-webfont.woff') format('woff'),
         url('../fonts/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Aleo-Regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal; 
    font-style: normal;

}


@import "settings";
@import "foundation";   

// Or selectively include components
 @import
//   "foundation/components/accordion",
   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
  "foundation/components/switches";
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";




// Small screens
@media only screen {
    
    body{
        background: url(../images/background.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
    }
    
    
    h1, h2, h3{
        font-family: $font-family-sans-serif;
        color: #0f525c;
        font-style: italic;
        font-weight: 800;
        
    }
    
    h2{
        background: rgba(255,255,255,0.95);
        display: inline-block;
        padding: 0 5px 0;
        border-radius: 3px;
        margin-top: 150px;
    }
    

    .intro{
        //background: $runalyzegray;
        padding: 260px 0 0px;
        color: #fff;
        
        p{
            font-size: 26px;
            padding-left: 5px;
            
            span{
                background: $tertiary-color;
                padding: 0 0;
                box-shadow: 5px 0 0 $tertiary-color, -5px 0 0 $tertiary-color;
            }
        }
    }
    
    .teaser{
        background: rgba(240,240,240,0.95);
        padding: 0 0 50px;
        color: $tertiary-color;
        
        .introText{
            margin-bottom: 50px;
        }
        
        
        h2{
            background: $tertiary-color; 
            display: inline-block;
            padding: 0 5px 0;
            border-radius: 3px;
            margin-top: 150px;
            color: #fff;
        }
        
        
        p{
            font-size: 26px;
            
            
            span{
                background: #fff;
                padding: 0 0;
                box-shadow: 5px 0 0 #fff, -5px 0 0 #fff;
                color: #0f525c;
            }
        }
    }
    
    
    .vorteile{
        padding: 70px 0 50px;
        box-shadow: 0 0 3px 0 $iron;
        background: rgba(221,221,221,0.95);
        color: #333;
        margin: 80px 0 0;
        
        h3{
            font-size: 1.6rem;
            
            i{
                color: $secondary-color;
                padding-right: 10px;
            }
        }
    }
    
    .member{
        background: rgba(240,240,240,0.95);
        padding: 70px 0 50px;
        box-shadow: 0 0 3px 0 $iron;
        color: #333;
        margin: 100px 0 50px;
        text-align: center;
        
        h3{
            font-size: 1.6rem;
            
            i{
                color: $secondary-color;
                padding-right: 10px;
            }
        }
    }
    
    
    
    nav.mainNav{
        
    }
    
    /* Statistics on start/log in page */
    .statisticsOverview{
        background: rgba(221,221,221,0.95);
        padding: 80px 0 70px;
        
        .headline{
            margin: 0 0 1.4em;
            color: #888;
            font-weight: 200;
            font-style: normal;
            text-transform: uppercase;
            background: none;
        }
        
        i{
            color: #888;
        }
        
        h3{
            font-weight: 200;
        }
        
        .statistic{
            height: 200px;
            width: 200px;
            border-radius: 100px;
            background: rgba(255,255,255,0.9);
            padding: 5px;
            margin: 0 auto;
            color: $tertiary-color;


            .inner{
                border: 2px dotted $primary-color;
                width:100%;
                height:100%;
                border-radius: 100px;
                font-size: 50px;
                line-height: 180px;
                font-weight:bold;

            }

            &.km .inner{
                font-size: 36px;
                line-height: 0.9em;
                padding-top: 40px;

                    .kmspan{
                        font-size: 20px;
                        color: rgba($tertiary-color, 0.6);
                    }
                }
            }
    }
    
    .alert-box{
        margin-bottom: 0;
        @include alert-style($tertiary-color);
    }
    
    .valign-center {
        position: relative;
        top: 50%;
        > .content {
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -o-transform:translateY(-50%);
          -ms-transform:translateY(-50%);
        }
      }

    
    header{
        position: fixed;
        width: 100%;
        z-index: 100;
        
        .row{
            padding: 0 40px;
            max-width: none;
        }
        
        
        .headerContent{
            padding: 15px 0 5px;
            overflow:visible;
            position: relative;
            z-index:5;
            background-color: rgba(255,255,255,0.95);
        }
        
        .logo{
            margin:0;
            
            a{
                width: 380px;
                height: 90px; 
                display: inline-block; 
                background: transparent url(../images/logo-runalyze.png) no-repeat center left;
                background-size: 312px auto;
                text-indent: -2000px;
                border-radius: 0 0 5px 5px;
            }
        }
        .loginHeader{
            background: rgba(230,230,230,0.95);
            display: inline-block;
            position: absolute;
            right:0;
            height: 79px;
            width: 470px;
            padding: 15px 40px 10px 10px;
            
            &:before{
                content:'';
                display: block;
                width: 0;
                height: 0;
                border-left: 57px solid transparent;
                border-right: 57px solid transparent;
                border-bottom: 57px solid rgba(230,230,230,0.95);
                transform: rotate(45deg);
                position: absolute;
                top:-10px;
                left: -77px;
            }
            
            label{
                display: none;
            }
            
            a{
                display: block;
                font-size: 12px;
            }
            
            input{
                width: 150px;
                display: inline-block;
                margin-bottom:0;
                
                &[type="submit"]{
                    width: 100px;
                }
            }
        }
    }
    
    
    .quickbar{
        text-align: right;
        
        ul{
            list-style: none;
            margin: 28px 0 0;
            padding: 0;
            
            
            li{
                margin-bottom: 0px;
                display: inline-block;
                vertical-align: top;
                
                a{
                    color: #333;
                    padding: 0 0 0 20px; 
                    display: block;
                    text-align: center;
                    line-height: 14px;
                    
                    i{
                        font-size: 1.5rem;
                        height: 25px;
                    }
                    
                    span{
                        font-size: 10px;
                        text-transform: uppercase;
                        color: #333;
                        line-height: 12px;
                        display: inline-block;
                    }
                    
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
    
    #openLanguageSelector{
        
    }
    
    #closeLanguageSelector{
        position: absolute;
        top: 0px;
        right: 20px;
        font-size: 2rem;
        background: $white;
        padding: 0 9px; 
    }
    
    #languageSelector{
        background: rgba($primary-color, 0.9);
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        z-index: 150;
        display: none;
        text-align: center;
        padding: 20px;
        
        .content{
            
            .headline{
                color: $white;
                margin-bottom: 2rem;
            }

            ul{
                text-align: center;
                font-size: 2rem;

                li{
                    display: inline-block; 

                    a{
                        color: $primary-color;
                        background: $white;
                        padding: 0 7px;

                    }

                }
            }
            
        }
        
        
        
        
    }
    
    .loginBox{
        position: relative;
        height: 100%;
        min-height: 530px;
        display: none;
    
        .boxWrapper{
            background: $white;
            box-shadow: 0 0 4px 0 #aaa;
            padding: 20px 30px;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            min-height: 530px;
            display: block;
            -webkit-backface-visibility: hidden; 
   	        backface-visibility: hidden;
            -webkit-transform-style: preserve-3d; 
            transform-style: preserve-3d;
            transform: rotateY(180deg);
            transition: all 0.5s linear;
            

            &.active{
                transform: rotateY(0deg);
                

            }
            
           
            
            

            &#login{
                
            }
            
            &#registerFormular{
               
            }
            
            &#forgotPassword{
               
            }

        }
    }
    
    
    
    form{
        fieldset{
            
            
            legend{
//                font-family: $font-family-serif;
                margin: 2rem 0 1rem; 
                padding:0;
                color: $secondary-color;
                font-size: 1.4rem;
                text-align: center;
                width:100%;
                display: inline-block;
                padding-top: 15px;
            }
        }
    }
    
    footer{
        padding: 40px 0 30px;
        background: $primary-color;
        color: $white;
        
        h1, h2, h3, h4, h5, h6{
            color: $secondary-color;
        }
        
       
        
        a{
            color: $white;
            
            &:hover{
                color: $smoke;
            }
        }
    }
   
    
} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {

    

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { 

   
    
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */