{% trans %}Do you really want to delete your account?{% endtrans %}
<a href="delete/{{ hash }}?true"> {% trans %}Delete account{% endtrans %} </a>
{% if deleteAccount %}
    {% trans %}Your account has been deleted.{% endtrans %}
    {% trans %}You cannot use Runalyze anymore.{% endtrans %}
{% else %}
    {% trans %}The deletion did not work.{% endtrans %}
    {% trans %}Probably the link was wrong.{% endtrans %}
    {% endif %}