<form action="/changepassword/{{ hash }}" method="post">
    <fieldset>
        <legend>{% trans %}Set new password{% endtrans %}</legend>
        <input type="hidden" name="chpw_hash" value="{{ hash }}">
	<input type="hidden" name="chpw_username" value="">
        <label for="chpw_name">{% trans %}Username{% endtrans %} </label>
	<input id="chpw_name" name="chpw_name" type="text" value="" disabled>
        <label for="new_pw">{% trans %}New password{% endtrans %}</label>
	<input id="new_pw" name="new_pw" type="password">
	<label for="new_pw_again">{% trans %}New password again{% endtrans %}</label>
	<input id="new_pw_again" name="new_pw_again" type="password">
        </fieldset>
        Fehlerausgabe foreach error
        {% trans %}The link is not valid anymore.{% endtrans %}
        <input type="submit" value="{% trans %}Change password{% endtrans %}" name="submit">
</form>

